<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DKey</key>
	<string>9f7027e1c0f83b5bebb30915287654ff5f573f7643f03fa51facc00e06d62da8</string>
	<key>ECID</key>
	<integer>3472046120269</integer>
	<key>EMF</key>
	<string>d5eb6ba328dec633133379831361cde75bb2259a4890aff260230ceb3351c7fc</string>
	<key>KeyBagKeys</key>
	<data>
	REFUQQAABORWRVJTAAAABAAAAANUWVBFAAAABAAAAABVVUlEAAAAEKyAJme2fU3wvWBd
	0Juf6YVITUNLAAAAKARTDLuiY9a2/fxlzMh9s9/TfFzPJfYO/KO7pvt98lULqBIim7r8
	ABZXUkFQAAAABAAAAAFTQUxUAAAAFE3/F8iFDfbCmCT2PVS5md7OsbFASVRFUgAAAAQA
	AMNQVVVJRAAAABDWERBTUCRDn4AY0gUs5pXQQ0xBUwAAAAQAAAABV1JBUAAAAAQAAAAD
	S1RZUAAAAAQAAAAAV1BLWQAAACjV7oUqo6kqK2l1e7oVgG/0O2FZc/zaTjZkOE/FxmIB
	jqnPJk51E7d5VVVJRAAAABABmdEsf35IxZYgXpN0VniwQ0xBUwAAAAQAAAACV1JBUAAA
	AAQAAAADS1RZUAAAAAQAAAABV1BLWQAAAChLDAaPFf2a1c1P+sBqxltkfC2Sx0megiXr
	HPvcxTgseGRFC767fkdpUEJLWQAAACAvVhh2Y/UzW4f2bI8fAb5BTO6nz5ruIGemM27t
	K5jFFlVVSUQAAAAQXtC/e2L6RLaaeNUpfAkBrkNMQVMAAAAEAAAAA1dSQVAAAAAEAAAA
	A0tUWVAAAAAEAAAAAFdQS1kAAAAon6y4DhQzezqPE905+0z7ALn3SajXTp1ove6cOvhF
	TAT7ypq0AUfE6lVVSUQAAAAQdYAvJKrQTbW4EIi9XQzuZ0NMQVMAAAAEAAAABVdSQVAA
	AAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoAya7MXRH4Y2EHTPktEf2W26KZIfAUd4M
	Ducm+J9uPY7KN2Xme7ieLVVVSUQAAAAQLv8vpfF0QYiGr2jz0D7ITUNMQVMAAAAEAAAA
	BldSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoqITeOkx12GEprf9ZLP3quDV0
	sAb6zmcoHn3Q5u8FGLW6IP6aXi9m5FVVSUQAAAAQJFBZy6waQ4KsjnsIdnlfL0NMQVMA
	AAAEAAAAB1dSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAonGm2ob3t2UJsVjrG
	VZVgU9De4EXW62bxGi4RL0W45p1oDveNhSKSQlVVSUQAAAAQ0Q/1rX+uQBG/qW3vX6qs
	30NMQVMAAAAEAAAACFdSQVAAAAAEAAAAAUtUWVAAAAAEAAAAAFdQS1kAAAAgldvaLjYv
	sK4HzdwEUjFh6rSY0a4X17F50pkAF5hFwA9VVUlEAAAAEFp+sRrchkl3ny/Ms0IlS8tD
	TEFTAAAABAAAAAlXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKPxCEjPa3WX9
	264sl0NjX+Jcsih9+c+Twsh9HsxkpqGlekOY2vcfpF1VVUlEAAAAEEsqoL53xEm4pGrx
	s0NpCB5DTEFTAAAABAAAAApXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKCob
	7NSIyBFu3Al+9VaHU9WQ2Zzh98fIOuc5GX//9njVi8qEW8pMrOFVVUlEAAAAEKqmjnpo
	U0fDnRPNgSAaWhBDTEFTAAAABAAAAAtXUkFQAAAABAAAAAFLVFlQAAAABAAAAABXUEtZ
	AAAAIBsqO/p3yVfxozS9JlSiLc2JrWpQ813Jg+Y7VO/SyieFU0lHTgAAABRiUAC2mlVA
	Jm7mxkI1V6Q0salY2A==
	</data>
	<key>btMac</key>
	<string>e8:06:88:49:b3:0d</string>
	<key>classKeys</key>
	<dict>
		<key>1</key>
		<string>1c782d5cce2ffb2e22175e4ed888ec11433f10d0771a63b8604cba6dfe30b46f</string>
		<key>10</key>
		<string>038101063f967e6455610df5862eba44c0878807f3b5d166eaae8ec24ead21bb</string>
		<key>11</key>
		<string>3296c1614443928fcc6998a4571df529db52ede5ad14837cd5f5675e6cc15d69</string>
		<key>2</key>
		<string>e06fb980bd886d09a4224ccd7bf40a2809efc323066dc56e72c0a4fed3db280d</string>
		<key>3</key>
		<string>91a2d9147caaeb03fe8191ea7c8058f2990733dd545705402dc0c070296f9d9e</string>
		<key>5</key>
		<string>62980eb58caf5a07f6fe3f33041d2d56e25e1c255c5bd83d080761991c60fdf7</string>
		<key>6</key>
		<string>298a6d3ad6ad29df50b070a7656e3cffc41496fdbcbcd311a01e6fbd839efbef</string>
		<key>7</key>
		<string>c885cd13bba3e9fc03d1ac8c4d9d6c720530744aeff10df7dc0781e881aaade5</string>
		<key>8</key>
		<string>bcc361aab897bb982f4182807bb41e21130a2094b5ec405adf292b5102056642</string>
		<key>9</key>
		<string>a89d09aad7f68449ad664334ab07528928852bf151973878f59f3dee25133c39</string>
	</dict>
	<key>dataVolumeOffset</key>
	<integer>169984</integer>
	<key>dataVolumeUUID</key>
	<string>7a1bebe93e39b956</string>
	<key>hwModel</key>
	<string>N88AP</string>
	<key>imei</key>
	<string>012163002205740</string>
	<key>kern.bootargs</key>
	<string>pio-error=0 -v rd=md0 amfi=0xff msgbuf=409600 amfi=0xff cs_enforcement_disable=1 </string>
	<key>key835</key>
	<string>e8895983502a1b2465a4d1dd129015f8</string>
	<key>key89A</key>
	<string>f5cbf14d0ab9c4669d0485af88ec0eed</string>
	<key>key89B</key>
	<string>75a9ff83d2129bf43ac714604dcfcd5e</string>
	<key>keybags</key>
	<dict>
		<key>ac802667b67d4df0bd605dd09b9fe985</key>
		<dict>
			<key>KeyBagKeys</key>
			<data>
			REFUQQAABORWRVJTAAAABAAAAANUWVBFAAAABAAAAABVVUlEAAAA
			EKyAJme2fU3wvWBd0Juf6YVITUNLAAAAKARTDLuiY9a2/fxlzMh9
			s9/TfFzPJfYO/KO7pvt98lULqBIim7r8ABZXUkFQAAAABAAAAAFT
			QUxUAAAAFE3/F8iFDfbCmCT2PVS5md7OsbFASVRFUgAAAAQAAMNQ
			VVVJRAAAABDWERBTUCRDn4AY0gUs5pXQQ0xBUwAAAAQAAAABV1JB
			UAAAAAQAAAADS1RZUAAAAAQAAAAAV1BLWQAAACjV7oUqo6kqK2l1
			e7oVgG/0O2FZc/zaTjZkOE/FxmIBjqnPJk51E7d5VVVJRAAAABAB
			mdEsf35IxZYgXpN0VniwQ0xBUwAAAAQAAAACV1JBUAAAAAQAAAAD
			S1RZUAAAAAQAAAABV1BLWQAAAChLDAaPFf2a1c1P+sBqxltkfC2S
			x0megiXrHPvcxTgseGRFC767fkdpUEJLWQAAACAvVhh2Y/UzW4f2
			bI8fAb5BTO6nz5ruIGemM27tK5jFFlVVSUQAAAAQXtC/e2L6RLaa
			eNUpfAkBrkNMQVMAAAAEAAAAA1dSQVAAAAAEAAAAA0tUWVAAAAAE
			AAAAAFdQS1kAAAAon6y4DhQzezqPE905+0z7ALn3SajXTp1ove6c
			OvhFTAT7ypq0AUfE6lVVSUQAAAAQdYAvJKrQTbW4EIi9XQzuZ0NM
			QVMAAAAEAAAABVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kA
			AAAoAya7MXRH4Y2EHTPktEf2W26KZIfAUd4MDucm+J9uPY7KN2Xm
			e7ieLVVVSUQAAAAQLv8vpfF0QYiGr2jz0D7ITUNMQVMAAAAEAAAA
			BldSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoqITeOkx1
			2GEprf9ZLP3quDV0sAb6zmcoHn3Q5u8FGLW6IP6aXi9m5FVVSUQA
			AAAQJFBZy6waQ4KsjnsIdnlfL0NMQVMAAAAEAAAAB1dSQVAAAAAE
			AAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAonGm2ob3t2UJsVjrGVZVg
			U9De4EXW62bxGi4RL0W45p1oDveNhSKSQlVVSUQAAAAQ0Q/1rX+u
			QBG/qW3vX6qs30NMQVMAAAAEAAAACFdSQVAAAAAEAAAAAUtUWVAA
			AAAEAAAAAFdQS1kAAAAgldvaLjYvsK4HzdwEUjFh6rSY0a4X17F5
			0pkAF5hFwA9VVUlEAAAAEFp+sRrchkl3ny/Ms0IlS8tDTEFTAAAA
			BAAAAAlXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKPxC
			EjPa3WX9264sl0NjX+Jcsih9+c+Twsh9HsxkpqGlekOY2vcfpF1V
			VUlEAAAAEEsqoL53xEm4pGrxs0NpCB5DTEFTAAAABAAAAApXUkFQ
			AAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKCob7NSIyBFu3Al+
			9VaHU9WQ2Zzh98fIOuc5GX//9njVi8qEW8pMrOFVVUlEAAAAEKqm
			jnpoU0fDnRPNgSAaWhBDTEFTAAAABAAAAAtXUkFQAAAABAAAAAFL
			VFlQAAAABAAAAABXUEtZAAAAIBsqO/p3yVfxozS9JlSiLc2JrWpQ
			813Jg+Y7VO/SyieFU0lHTgAAABRiUAC2mlVAJm7mxkI1V6Q0salY
			2A==
			</data>
			<key>passcode</key>
			<string>0588</string>
			<key>passcodeKey</key>
			<string>6b6b2f5507014f3a36ae6996453eedb82ad8406265f2b5eec445ef418188c78b</string>
		</dict>
	</dict>
	<key>lockers</key>
	<data>
	a0w0ADFHQUIxR0FCsaFaC/DVTDGlKoPF5XzpuVrWFOg0MA5AckUpM+rA2hme8sWAIKJr
	JE+XlqQLY3hBa0xQAE1Wd0xD0SR5lBMWsxwuyN6YD8GiEhO9rb4v4srps7WGSXyy5s+8
	Iv6v058e+lZW2tgxdEQRWJEn7yGazRMwACFGqQmd8/6ew7zIDeirkpBPc1bJRWtMKAB5
	ZWvEeoROtKibMLXinKaqKoj639nFOhlMInHCiHCItAZ/cR3qB24L+DVZL2tMAABFTk9E
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>nand</key>
	<dict>
		<key>#block-pages</key>
		<integer>128</integer>
		<key>#bootloader-bytes</key>
		<integer>1536</integer>
		<key>#ce</key>
		<integer>4</integer>
		<key>#ce-blocks</key>
		<integer>4148</integer>
		<key>#databus</key>
		<integer>2</integer>
		<key>#die-ce</key>
		<data>
		AQAAAA==
		</data>
		<key>#page-bytes</key>
		<integer>8192</integer>
		<key>#page-sectors</key>
		<integer>16</integer>
		<key>#spare-bytes</key>
		<integer>376</integer>
		<key>AAPL,phandle</key>
		<data>
		AAAAFw==
		</data>
		<key>adl-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>banks-per-ce</key>
		<integer>1</integer>
		<key>bbt-format</key>
		<integer>1</integer>
		<key>block-bits</key>
		<data>
		AAAAAA==
		</data>
		<key>blocks-cau</key>
		<data>
		AAAAAA==
		</data>
		<key>cau-bits</key>
		<data>
		AAAAAA==
		</data>
		<key>caus-ce</key>
		<data>
		AAAAAA==
		</data>
		<key>ce-bitmap</key>
		<integer>771</integer>
		<key>ce-hold-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>ce-setup-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>channels</key>
		<array>
			<dict>
				<key>ce-map</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>ce-map</key>
				<array>
					<integer>8</integer>
					<integer>9</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</array>
		<key>compatible</key>
		<data>
		bmFuZAA=
		</data>
		<key>default-ftl-version</key>
		<data>
		AQAAAA==
		</data>
		<key>device-readid</key>
		<integer>848615320</integer>
		<key>device_type</key>
		<data>
		bmFuZAA=
		</data>
		<key>dumpedPageSize</key>
		<integer>8212</integer>
		<key>ecc-correctable</key>
		<integer>8</integer>
		<key>ecc-threshold</key>
		<integer>8</integer>
		<key>logical-page-size</key>
		<integer>8192</integer>
		<key>match-oddeven-caus</key>
		<data>
		AAAAAA==
		</data>
		<key>max-transaction-size</key>
		<data>
		AAAAAA==
		</data>
		<key>meta-per-logical-page</key>
		<integer>12</integer>
		<key>mlc-pages</key>
		<data>
		AAAAAA==
		</data>
		<key>name</key>
		<data>
		ZGlzawA=
		</data>
		<key>page-bits</key>
		<data>
		AAAAAA==
		</data>
		<key>power-delay</key>
		<data>
		gPD6Ag==
		</data>
		<key>ppn-device</key>
		<false/>
		<key>ppn-ftl-ver</key>
		<integer>0</integer>
		<key>ppn-spec-version</key>
		<data>
		AAAAAA==
		</data>
		<key>read-dccycle-clks</key>
		<data>
		AQAAAA==
		</data>
		<key>read-hold-clks</key>
		<data>
		AQAAAA==
		</data>
		<key>read-post-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>read-pre-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>read-setup-clks</key>
		<data>
		AQAAAA==
		</data>
		<key>slc-pages</key>
		<data>
		AAAAAA==
		</data>
		<key>toggle-device</key>
		<false/>
		<key>use-4k-aes-chain</key>
		<data>
		AQAAAA==
		</data>
		<key>valid-meta-per-logical-page</key>
		<integer>10</integer>
		<key>vendor-type</key>
		<integer>65537</integer>
		<key>whr-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>write-hold-clks</key>
		<data>
		AQAAAA==
		</data>
		<key>write-post-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>write-pre-clks</key>
		<data>
		AAAAAA==
		</data>
		<key>write-setup-clks</key>
		<data>
		AQAAAA==
		</data>
	</dict>
	<key>passcode</key>
	<string>0588</string>
	<key>passcodeKey</key>
	<string>6b6b2f5507014f3a36ae6996453eedb82ad8406265f2b5eec445ef418188c78b</string>
	<key>ramdisk compile time</key>
	<string>Feb 17 2015 22:04:45</string>
	<key>ramdisk revision</key>
	<string>b332180ddd36</string>
	<key>salt</key>
	<string>4dff17c8850df6c29824f63d54b999deceb1b140</string>
	<key>serialNumber</key>
	<string>88015LRY3NQ</string>
	<key>udid</key>
	<string>d8793daa5ff7718baff7376557ccf3db55bd6f72</string>
	<key>uuid</key>
	<string>ac802667b67d4df0bd605dd09b9fe985</string>
	<key>wifiMac</key>
	<string>e8:06:88:49:b3:0e</string>
</dict>
</plist>
